{% extends "base.html" %}

{% block content %}

<header id="header">
    <h1>ROCK PAPER SCISSORS</h1>
    <h2>CHOOSE YOUR WEAPON</h2>
</header>

<form action="/computer" method="post">
    <input type="text" id="name" name="name">
    <label for="name">Your name:</label>

    <label class="radio">ROCK
        <input type="radio" checked="checked" id="rock" name="1stplayer" value="rock">
        <span class="checkmark"></span>
    </label>

    <label class="radio">PAPER
        <input type="radio" id="paper" name="1stplayer" value="paper">
        <span class="checkmark"></span>
    </label>

    <label class="radio">SCISSORS
        <input type="radio" id="scissors" name="1stplayer" value="scissors">
        <span class="checkmark"></span>
    </label>

    <input type="submit" value="GO" class="button">
</form>

{% endblock %}