{% extends "base.html" %}

{% block content %}

<h2>CHOOSE YOUR WEAPON</h2>

<form action="/game" method="post">
    <div class="players">

        <div class="container">
            <p>Player One</p>
            <input type="radio" id="rock" name="1stplayer" value="rock">
            <label for="rock">rock</label>
            <input type="radio" id="paper" name="1stplayer" value="paper">
            <label for="paper">paper</label>
            <input type="radio" id="scissors" name="1stplayer" value="scissors">
            <label for="scissors">scissors</label>
        </div>


        <div class="container">
            <p>Player Two</p>
            <input type="radio" id="rock" name="2ndplayer" value="rock">
            <label for="rock">rock</label>
            <input type="radio" id="paper" name="2ndplayer" value="paper">
            <label for="paper">paper</label>
            <input type="radio" id="scissors" name="2ndplayer" value="scissors">
            <label for="scissors">scissors</label>
        </div>
    </div>


    <input type="submit" value="GO" class="button">

</form>



{% endblock %}